---
BasedOnStyle: Google
UseTab: ForIndentation
IndentWidth: 4
TabWidth: 4
---
Language: Cpp
ColumnLimit: 100
DerivePointerAlignment: false
PointerAlignment: Left

MaxEmptyLinesToKeep: 2

AllowShortFunctionsOnASingleLine: Empty 
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

IndentAccessModifiers: false
AccessModifierOffset: -4
IndentPPDirectives: AfterHash
---
